.wrapHopDong {
    color: #fff;
    h1 {
        font-size: 3.6rem;
        font-weight: 700;
    }
}
.wrapbtnSwitch {
    .btn_switch {
        // padding: 1rem;
        border: 0.1rem solid #ff7506;
        width: 30%;
        border-radius: 2.4rem;
    }
    button {
        background-color: transparent;
        border-radius: 2.4rem;
        padding: 1rem;
        min-width: 50%;
        border: none;
        a {
            text-decoration: none;
            color: #fff;
            font-size: 1.6rem;
        }
    }
}
.bodyHopDong {
    position: relative;
    margin-top: 3rem;
    .AddHopdong {
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 1.6rem 0 0 1.6rem;
        background-color: #2f2f41;

        padding: 1rem;
        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        p {
            width: 62%;
            margin-top: 1rem;
            margin-bottom: 0;
            font-size: 1.2rem;
            color: #fff;
            text-align: center;
        }
        .Add {
            padding: 0.05rem 0.8rem;
            background-color: rgba(114, 114, 136, 0.5);
            font-size: 3rem;
            color: #ff7506;
            border-radius: 50%;
            svg {
                margin-bottom: 1rem;
            }
        }
    }
}
.FormControl {
    width: 85%;
    .wrapRowControl {
        margin-bottom: 2rem;
        display: flex;
        align-items: center;
        & > div:nth-child(1) {
            // background-color: red;
        }
        & > div:nth-child(2) {
            max-width: 35% !important;
            // background-color: blue;
        }
        .searchForm {
            padding: 0;
            position: relative;
            input {
                height: 3rem;
                background-color: #2b2b3f;
                border: none;
                color: #fff;
                font-size: 1.6rem;
                &::placeholder {
                    font-size: 1.4rem;
                    color: #727288;
                }
            }
            .IconSearch {
                position: absolute;
                top: 50%;
                right: 01rem;
                transform: translateY(-55%);
                font-size: 2rem;
            }
        }
    }
    .wrapChoose {
        display: flex;
    }
    .formGroup {
        display: flex;
        align-items: center;
        & ~ .formGroup {
            margin-left: 5rem;
        }

        label {
            margin-right: 1.5rem;
            font-size: 1.4rem;
            font-weight: 600;
        }
        select {
            width: 10rem;
            height: 3rem;
            background-color: transparent !important;
            border: 0.1rem solid #ff7506;
            color: #fff;
        }
        option {
            color: black;
        }
    }
}
table,
tr {
    border-top: none;
    border: 0.1rem solid #2f2f41b2;
}
table {
    td,
    th {
        background-color: #2f2f41b2 !important;
        padding: 2rem 1rem !important;
    }
    th {
        color: #ffac69 !important;
        font-size: 1.4rem;
        font-weight: 700;
    }
    td {
        color: #ffffff !important;
        // font-size: 1.2rem;
        font-weight: 400;
        a {
            color: #ff7506;
            font-size: 1.2rem;
            font-weight: 600;
        }
    }
}
.color {
    background-color: #b65100 !important;
}
.footerBody {
    margin: 5rem 0;
    .wrapBody {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .footerLeft {
        font-size: 1.4rem;
        font-weight: 400;
        color: #f5f5ff;
        p {
            span {
                margin: 0 0.6rem;
                padding: 0.5rem;
                border: 0.1rem solid #ff7506;
            }
        }
    }
    .footerRight {
        display: flex;
        justify-content: center;
        .pagination {
            border: none;
        }
        li {
            a {
                border: none;
                background-color: transparent !important;
                color: #f5f5ff;
                font-size: 1.4rem;
                font-weight: 400;
            }
            & :active {
                background-color: #ff750680 !important;
            }
        }
    }
}
