.wrapHopDong {
    color: #fff;
    h1 {
        font-size: 3.6rem;
        font-weight: 700;
    }
}
.wrapbtnSwitch {
    .btn_switch {
        padding: 1rem;
        border: 0.1rem solid #ff7506;
        width: 21%;
        border-radius: 2.4rem;
    }
}
