.arrow {
    position: absolute;
    top: -15rem;
    z-index: 2;

    background-color: #020220;
    display: flex;
    align-items: center;
    min-height: calc(100% + 15rem);
    button {
        background-color: transparent;
        border: none;
    }
    svg {
        color: #ff7506;
        font-size: 3rem;
    }
}
.bodyAdd {
    color: #fff;
    margin-left: 8rem;
    margin-right: 8rem;
    padding-bottom: 17rem;
    h1 {
        margin-bottom: 4rem;
        font-size: 3.6rem;
        font-weight: 700;
    }
}
.wrapbtnSwitch {
    margin-bottom: 2rem;
    .btn_switch {
        // padding: 1rem;
        border: 0.1rem solid #ff7506;
        width: 35%;
        border-radius: 2.4rem;
    }
    button {
        background-color: transparent;
        border-radius: 2.4rem;
        padding: 1rem;
        min-width: 50%;
        border: none;
        a {
            text-decoration: none;
            color: #fff;
            font-size: 1.6rem;
        }
    }
}
.color {
    background-color: #b65100 !important;
}
.wrapAdd {
    padding-bottom: 40rem;
}
.fillterProduct {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 8rem;
    .formGroup {
        display: flex;
        label {
            width: 18rem;
            font-size: 1.6rem;
            font-weight: 600;
        }
        select {
            font-size: 1.4rem;
            font-weight: 400;
            background-color: transparent;
            color: #fff;
            border: 0.1rem solid #ff7506;
            width: 12rem;
            option {
                color: #020220;
            }
        }
    }
    .searchProduct {
        position: relative;
        input {
            background-color: #2b2b3f;
            border: none;
            width: 40rem;
            height: 4rem;
            color: #fff;
            font-size: 1.4rem;
            &::placeholder {
                color: #727288;
                font-size: 1.4rem;
                font-weight: 400;
            }
        }
        .IconSearch {
            position: absolute;
            top: 50%;
            right: 5px;
            transform: translateY(-50%);
            svg {
                font-size: 2.5rem;
            }
        }
    }
}
.wrapTable {
    position: relative;
    margin-top: 4rem;
    // width: 92%;
    table {
        width: 92%;
    }
}
.OptionContentAdd {
    position: absolute;
    top: -120px;
    right: -8rem;
    border-radius: 1.6rem 0 0 1.6rem;
    background-color: #2f2f41;

    padding: 1rem 0.5rem;
    a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        & ~ a {
            margin-top: 2rem;
        }
    }
    p {
        width: 62%;
        margin-top: 1rem;
        margin-bottom: 0;
        font-size: 1.2rem;
        color: #fff;
        text-align: center;
    }
    .Add {
        padding: 0.05rem 0.8rem;
        background-color: rgba(114, 114, 136, 0.5);
        font-size: 3rem;
        color: #ff7506;
        border-radius: 50%;
        svg {
            margin-bottom: 1rem;
        }
    }
}
.footerBody {
    margin: 5rem 0;
    .wrapBody {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .footerLeft {
        font-size: 1.4rem;
        font-weight: 400;
        color: #f5f5ff;
        p {
            span {
                margin: 0 0.6rem;
                padding: 0.5rem;
                border: 0.1rem solid #ff7506;
            }
        }
    }
    .footerRight {
        display: flex;
        justify-content: center;
        .pagination {
            border: none;
        }
        li {
            a {
                border: none;
                background-color: transparent !important;
                color: #f5f5ff;
                font-size: 1.4rem;
                font-weight: 400;
            }
            & :active {
                background-color: #ff750680 !important;
            }
        }
    }
}
