* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    /*  */
}

body {
    font-size: 1.6rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Oswald";
}
:root {
    --header-bg: #10375c;
}
/* common */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
a {
    text-decoration: none;
}
.App {
    .container_App {
        margin: 0;
        max-width: 100%;
        display: flex;
        justify-content: center;
    }
    .Nav,
    .body_main {
        padding: 0;
    }

    .body_main {
        width: 100%;
        min-height: 100%;
    }

    .topHeader {
        /* padding: 2.4rem 0 1.6rem; */
        padding-bottom: 1rem;
        background-color: #1e1e2e;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
    }
}
