* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    /*  */
}

body {
    font-size: 1.6rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Oswald";
}
:root {
    --header-bg: #10375c;
}
/* common */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
a {
    text-decoration: none;
}
